%div.row.center
  %div.transbox
    %article.tty   
      %div.large-4.columns.large-centered
        = form_for @offer, :remote => true do |f|
          = f.label :name
          = f.text_field :name, :placeholder => 'Name of Queue Event/Establishment'
          = f.label :address
          = f.text_field :address
          = f.label :date
          = f.datetime_select :date, :placeholder => 'Start date/time of event'
          = f.label :Expires
          = f.datetime_select :enddate, :placeholder => 'Expiry date/time of Offer'
          = f.label :price
          = f.number_field :price, :placeholder => 'Offer Price in dollars'
          = f.submit 'Create Offer', :class => 'button round success' 
        %div#quote
      .large-8.columns 