/ %script
/   var offers = [];
/ %ol
/   - @offers.each do |offer|
/     %script
/       = "$(document).ready(function () {"
/       = "add_marker(#{offer.latitude}, #{offer.longitude}, '#{offer.name}');"
/       = "});"
/ %div#map
/   %div#map_canvas

  

%div#new_offer

%div#chart

%div.row
  %div.center
    %div#cell
      %div.center
        = link_to('Kill a Queue', new_offer_path, :remote => true, :class => 'large button round alert')
      %div.center
    
      %a.button.dropdown.success.round{"data-dropdown" => "drop1", :href => "#"} 
        Active Offers
       
    %ul#drop1.f-dropdown
      %li
        - @offers.each do |offer|
          = link_to(offer.name, offer)
            
            
    
        
    %div.clear
  %div.large-8.columns

%ol#offers
  = render(:partial => 'offers')


  
%ol
  - @offers.each do |offer|
    %script
      = "$(document).ready(function () {"
      = "add_marker(#{offer.latitude}, #{offer.longitude}, '#{offer.name}', '#{offer.address.gsub(/'/, '\\\'')}');"
      = "});"
%div#map
  %div#map_canvas

  / %script
  /   = "$(document).ready(function () {"
  /   = "initialize(-33.8649688, 151.2116847, 14);"
  /   = "});"



