<h2><%= @offer.name %> <%= @offer.date %> </h2>
	<div id="offer_address"><%= @offer.address %></div>
		<h5 id="offer_price">Offered @: <%= number_to_currency(@offer.price) %></h5>
		<h5 id="offer_endate">Expires: <%= @offer.enddate %></h5>
	
		<div id="new_bid"></div>
	<p>
		<button id="first_bid" class="button success round"><%= link_to('Bid on Event Queue', new_bid_path(@offer)) %></button>
	</p>
	<div id="bids"><%= render(:partial => '/bids/bids') %></div>
<script>

	$('#first_bid').on('click', function () {

		$('#new_bid').html('<%=j render(:partial => '/bids/form') %>');
		$('#first_bid').fadeOut();
		return false;
	});

</script>
	
